<app-navbar></app-navbar>

<div class="container mx-auto px-5 py-5 md:flex-row">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-1/2 mb-10 md:mb-0">
    </div>

<section class="text-gray-600 body-font">
    <div class="container mx-auto bg-slate-100 flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-extrabold text-blue-900 mx-auto"> Servicios 
        </h1>
        <p class="mb-8 leading-relaxed">Información acerca de los servicios que ofrece Market Connect Información acerca de los servicios que ofrece Market Connect Información acerca de los servicios que ofrece Market Connect </p>
        <div class="flex justify-center">
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
      </div>
    </div>
  </section>

<section class="max-w-7xl px-4 pt-24 pb-12 mx-auto">
    <div class="w-full mx-auto text-left md:w-11/12 xl:w-9/12 md:text-center">
      <h1 class="block pb-2 mb-5 text-4xl font-extrabold leading-none tracking-normal text-blue-900">
        Nuestros servicios.
      </h1>
      <p class="px-0 mb-10 text-lg text-black-500 md:text-xl lg:px-24">Un servicio a tu alcance.</p>
    </div>
    <div class="w-full mx-auto xl:w-4/5">
      <div class="grid grid-cols-1 gap-16 lg:grid-cols-3 sm:gap-8">
        <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
          <div class="flex flex-col justify-between p-6 border-b border-gray-200">
            <p class="mb-1 text-lg font-semibold text-blue-700">Terrestre</p>
            <p class="pb-0 my-2 font-mono text-4xl font-extrabold text-gray-900">$$$</p>
            <p class="text-sm text-gray-500">Información</p>
            <a href="#" class="w-full mt-6 btn btn-warning btn-lg">Seleccionar &rarr;</a>
          </div>
          <ul class="flex flex-col flex-grow p-6 space-y-3">
            <li class="flex items-start">
              <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
              <span class="text-gray-700"> Información </span>
            </li>
            <li class="flex items-start">
              <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
              <span class="text-gray-700">Información</span>
            </li>
            <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700">Información</span>
              </li>
            <li class="flex items-start">
              <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
              <span class="text-gray-700">Información</span>
            </li>
          </ul>
        </div>
        <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
          <div class="flex flex-col justify-between p-6 border-b border-gray-300">
            <div>
              <div class="flex items-center justify-between">
                <p class="mb-1 text-lg font-semibold text-blue-700">Aéreo</p>
                <span class="badge bg-primary-light text-primary">(Recomendado)</span>
              </div>
              <p class="my-2 font-mono text-4xl font-extrabold text-gray-900">$$$</p>
              <p class="text-sm text-gray-500">Información</p>
            </div>
            <a href="#" class="w-full mt-6 btn btn-primary btn-lg">Seleccionar &rarr;</a>
          </div>
          <ul class="flex flex-col flex-grow p-6 space-y-3">
            <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700"> Información </span>
              </li>
              <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700">Información</span>
              </li>
              <li class="flex items-start">
                  <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="text-gray-700">Información</span>
                </li>
              <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700">Información</span>
              </li>
          </ul>
        </div>
        <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
            <div class="flex flex-col justify-between p-6 border-b border-gray-300">
              <div>
                <div class="flex items-center justify-between">
                  <p class="mb-1 text-lg font-semibold text-blue-700">Marítima</p>
                </div>
                <p class="my-2 font-mono text-4xl font-extrabold text-gray-900">$$$</p>
                <p class="text-sm text-gray-500">Información</p>
              </div>
            <a href="#" class="w-full mt-6 btn btn-light btn-lg">Seleccionar &rarr;</a>
          </div>
          <ul class="flex flex-col flex-grow p-6 space-y-3">
            <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700"> Información </span>
              </li>
              <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700">Información</span>
              </li>
              <li class="flex items-start">
                  <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="text-gray-700">Información</span>
                </li>
              <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700">Información</span>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container mx-auto bg-slate-100 flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-extrabold text-blue-900 mx-auto">Nuestros proveedores</h1>
        <p class="mb-8 leading-relaxed">*Información*, *Información*, *Información*, *Información*, *Información*, *Información*, *Información*,  </p>
        <p class="mb-8 leading-relaxed">*Información*, *Información*, *Información*, *Información*, *Información*, *Información*, *Información*,  </p>
        <div class="flex justify-center">
        </div>
      </div>
    </div>
  </section>

  <div class="container mx-auto flex px-5 py-5 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-1/2 mb-10 md:mb-0">
    </div>