<app-navbar></app-navbar>

<section class="max-w-7xl px-4 pt-24 pb-12 mx-auto">
    <div class="w-full mx-auto text-left md:w-11/12 xl:w-9/12 md:text-center">
      <h1 class="block pb-2 mb-5 text-4xl font-extrabold leading-none tracking-normal text-blue-900">
        Costos
      </h1>
      <p class="px-0 mb-10 text-lg text-black-500 md:text-xl lg:px-24">Un servicio a tu alcance.</p>
    </div>
    <div class="w-full mx-auto xl:w-4/5">
      <div class="grid grid-cols-1 gap-16 lg:grid-cols-3 sm:gap-8">
        <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
          <div class="flex flex-col justify-between p-6 border-b border-gray-200">
            <p class="mb-1 text-lg font-semibold text-blue-700">Terrestre</p>
            <p class="pb-0 my-2 font-mono text-4xl font-extrabold text-gray-900">$$$</p>
            <p class="text-sm text-gray-500">Información</p>
            <a href="#" class="w-full mt-6 btn btn-warning btn-lg">Seleccionar &rarr;</a>
          </div>
          <ul class="flex flex-col flex-grow p-6 space-y-3">
            <li class="flex items-start">
              <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
              <span class="text-gray-700"> Información </span>
            </li>
            <li class="flex items-start">
              <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
              <span class="text-gray-700">Información</span>
            </li>
            <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700">Información</span>
              </li>
            <li class="flex items-start">
              <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
              <span class="text-gray-700">Información</span>
            </li>
          </ul>
        </div>
        <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
          <div class="flex flex-col justify-between p-6 border-b border-gray-300">
            <div>
              <div class="flex items-center justify-between">
                <p class="mb-1 text-lg font-semibold text-blue-700">Aéreo</p>
                <span class="badge bg-primary-light text-primary">(Recomendado)</span>
              </div>
              <p class="my-2 font-mono text-4xl font-extrabold text-gray-900">$$$</p>
              <p class="text-sm text-gray-500">Información</p>
            </div>
            <a href="#" class="w-full mt-6 btn btn-primary btn-lg">Seleccionar &rarr;</a>
          </div>
          <ul class="flex flex-col flex-grow p-6 space-y-3">
            <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700"> Información </span>
              </li>
              <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700">Información</span>
              </li>
              <li class="flex items-start">
                  <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="text-gray-700">Información</span>
                </li>
              <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700">Información</span>
              </li>
          </ul>
        </div>
        <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
            <div class="flex flex-col justify-between p-6 border-b border-gray-300">
              <div>
                <div class="flex items-center justify-between">
                  <p class="mb-1 text-lg font-semibold text-blue-700">Marítima</p>
                </div>
                <p class="my-2 font-mono text-4xl font-extrabold text-gray-900">$$$</p>
                <p class="text-sm text-gray-500">Información</p>
              </div>
            <a href="#" class="w-full mt-6 btn btn-light btn-lg">Seleccionar &rarr;</a>
          </div>
          <ul class="flex flex-col flex-grow p-6 space-y-3">
            <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700"> Información </span>
              </li>
              <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700">Información</span>
              </li>
              <li class="flex items-start">
                  <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="text-gray-700">Información</span>
                </li>
              <li class="flex items-start">
                <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-gray-700">Información</span>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container mx-auto bg-slate-100 flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
      </div>
      <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-extrabold text-blue-900 mx-auto">Rastrea tu envío</h1>
        <h1 class="title-font sm:text-3xl text-3xl mb-4 font-medium text-blue-700 mx-auto">Ingresa tu guía de rastreo</h1>
        <form action="" method="post" id="revue-form" name="revue-form" target="_blank" class="p-2 mt-8 transition duration-500 ease-in-out transform border2 bg-gray-50 md:mx-auto rounded-xl sm:max-w-lg sm:flex">
            <div class="flex-1 min-w-0 revue-form-group">
                <label for="guia_rastreo" class="sr-only">Guía de rastreo</label>
                <input id="guiaR" type="text" class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform bg-transparent border border-transparent rounded-md text-neutral-600 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" placeholder="Guía de rastreo  ">
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-3 revue-form-actions">
                <button type="submit" value="Buscar" name="member[buscar]" id="guia_submit" class="block w-full px-5 py-3 text-base font-medium text-white bg-blue-900 border border-transparent rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 sm:px-10">Buscar</button>
            </div>
        </form>
        <div class="flex justify-center">
        </div>
      </div>
    </div>
  </section>

  <div class="container mx-auto px-5 py-5 md:flex-row">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-1/2 mb-10 md:mb-0">
    </div>


    <div class="container mx-auto p-4">
        <div class="w-full mx-auto text-left md:w-11/12 xl:w-9/12 md:text-center">
        <h1 class="block pb-2 mb-5 text-4xl font-extrabold leading-none tracking-normal text-blue-900">
            Solicita tu Factura
          </h1>
        </div>
        <form>
          <div class="mb-4">
            <label class="block text-blue-600 text-sm font-bold mb-2" for="nombre">Nombre</label>
            <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nombre" type="text" placeholder="Nombre">
          </div>
          <div class="mb-4">
            <label class="block text-blue-600 text-sm font-bold mb-2" for="direccion">Dirección</label>
            <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="direccion" type="text" placeholder="Dirección">
          </div>
          <div class="mb-4">
            <label class="block text-blue-600 text-sm font-bold mb-2" for="ciudad">Ciudad</label>
            <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="ciudad" type="text" placeholder="Ciudad">
          </div>
          <div class="mb-4">
            <label class="block text-blue-600 text-sm font-bold mb-2" for="codigo-postal">Código Postal</label>
            <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="codigo-postal" type="text" placeholder="Código Postal">
          </div>
          <div class="mb-4">
            <label class="block text-blue-600 text-sm font-bold mb-2" for="telefono">Teléfono</label>
            <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="telefono" type="text" placeholder="Teléfono">
          </div>
          <div class="mb-4">
            <label class="block text-blue-600 text-sm font-bold mb-2" for="correo">Correo Electrónico</label>
            <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="correo" type="text" placeholder="Correo Electrónico">
          </div>
          <div class="mb-4">
            <label class="block text-blue-600 text-sm font-bold mb-2" for="numero-factura">Número de Factura</label>
            <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="numero-factura" type="text" placeholder="Número de Factura">
          </div>
          <div class="mb-4">
            <label class="block text-blue-600 text-sm font-bold mb-2" for="descripcion">Descripción</label>
            <textarea class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="descripcion" placeholder="Descripción"></textarea>
          </div>
          <div class="mb-4">
            <label class="block text-blue-600 text-sm font-bold mb-2" for="monto">Monto</label>
            <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="monto" type="text" placeholder="Monto">
          </div>
          <div class="flex justify-end">
            <button class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
              Enviar
            </button>
          </div>
        </form>
      </div>